.btn {
  display: inline-flex;
  padding: 1em 1.5em;
  border-radius: .5em;
  max-width: fit-content;
  &:hover {
    background-color: theme('colors.primary-dark');
    transition: background-color .3s ease-in-out;
  }
  &--secondary{
    background-color: theme('colors.secondary');
    &:hover {
      background-color: theme('colors.secondary-dark');
    }
  }
  &--primary{
    background-color: theme('colors.primary');
    &:hover {
      background-color: theme('colors.primary-dark');
    }
  }
}