.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 1.5em;
  border-radius: .5em;
  max-width: fit-content;
  max-height: 56px;
  gap: .5em;
  &:hover {
    background-color: theme('colors.primary-dark');
    transition: background-color .3s ease-in-out;
  }
  &--secondary{
    background-color: theme('colors.secondary');
    &:hover {
      background-color: theme('colors.secondary-dark');
    }
  }
  &--primary{
    background-color: theme('colors.primary');
    &:hover {
      background-color: theme('colors.primary-dark');
    }
  }  
  &--outline{
    background-color: transparent;
    border: .12em solid theme('colors.primary');
    color: theme('colors.primary');
    &:hover {
      background-color: theme('colors.primary');
      color: theme('colors.white');
    }
  }
}