.card {
  display: flex;
  gap: 1rem;
  padding: 1em 1.5em;
  border-radius: .5rem;
  @apply bg-slate-100;
  &__body{
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  &--patient {
    flex-direction: row;

  }
}