@use '../00-settings/variables' as variables;
@use '../01-tools/mixins' as mixins;
.card-doctor{
  @include mixins.flex-position(column, left, left, .5em);

  background-color: variables.$light;
  padding: 1.5em;
  border-radius: variables.$br;
  
  &__header{
    @include mixins.flex-position(_, left, left, 1.5em);
  }
  &__body{
    @include mixins.flex-position(column, left, left, 1em);
  }
  &__footer{
    @include mixins.flex-position(_, space-between, center, 1.5em);
  }
}