@use '../00-settings/variables' as var;
@use '../01-tools/mixins' as mixins;

.input {
  border: .12em solid var.$primary-darker;
  @include mixins.padding();
  @include mixins.border-radius();


  &--error {
    border-color: theme('colors.error-primary');
    color: theme('colors.error-primary');
  }
}

.select {
  border: .12em solid theme('colors.dark-light');
  padding: 1em 1em;
  border-radius: theme('borderRadius.br');
  max-width: 395px;
  width: 395px;

  &--error {
    border-color: theme('colors.error-primary');
    color: theme('colors.error-primary');
  }

  &--full {
    max-width: 100%;
    width: 100%;
  }
}
