.modal {
  &--overlay {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: background-color .3s ease-in-out;
  }

  &--content {
    position: absolute;
    background-color: theme('colors.white');
    top: 0;
    right: -35%;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    &__header{
      position: relative;
      &__close{
        position: absolute;
        top: 1em;
        right: 1em;
        cursor: pointer;
        img{
          width: 50%;        
        }
      }
      &__content{
        display: flex;
        flex-direction: column;        
        gap: 1em;
        padding: 1.5em;
        img{
          width: 50%;        
        }
      }
      img{
        width: 50%;
      }
    }
    &__body{
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      margin-top: 1.5em;
      padding: 0 1.5em;
    }
    &--open{
      right: 0;
      transition: right .5s ease-in-out;
    }
    &--close{
      right: -35%;
      transition: right .3s ease-in-out;
    }
  } 
}