@use '../00-settings/variables' as variables;
@use '../01-tools/mixins' as mixins;

table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    thead{
        color: variables.$dark-lighter;
        tr{
            th{
            @include mixins.padding(.5em,.5em, .5em, .5em);
            text-align: left;
                font-size: .8rem;
                color: variables.$dark-lighter;
            }
        }
    }
    tbody{
        tr{
            border-bottom: 1px solid variables.$primary-darker;
            &:nth-child(even){
                background-color: variables.$light;
            }
            &:hover{
                cursor: pointer;
                background-color: variables.$light;
                font-weight: bold;
            }
            td{
                @include mixins.padding(.8em,.5em, .8em, .5em);
                color: variables.$dark;
            }
        }
    }

}