@use '../00-settings/variables' as variables;
@use '../01-tools/mixins' as mixins;


.users{
  @include mixins.flex-position(column, _, _, 1.5em);
  &__not-found{
    @include mixins.flex-position(column, center, center, 1em);
    h2{
      text-align: center;
      max-width: 45ch;
    }
  }
  &__search{
    @include mixins.flex-position(row, _, center, 1em);
  }
  &__content{
    @include mixins.flex-position(column, _, _, 1em);
    width: 100%;
    max-width: 100%;
    &--full{
      max-width: 100%;
      width: 100%;
    }
  }
}