$primary-darker: #1F557E;
$primary-dark: #2E7FBD;
$primary: #3DA9FC;
$primary-light: #9ED4FD;
$primary-lightest: #CEE9FE;
$secondary-darker: #3C1119;
$secondary-dark: #782333;
$secondary: #EF4565;
$secondary-light: #F7A2B2;
$secondary-lightest: #FBD0D8;
$light: #f1f5f9;
$dark: #094067;
$dark-light: #808A93;
$dark-lighter: #BFC5C9;
$error-darker: #802719;
$error: #FF0000;
$error-lightest: #FFC1C1;
$success-darker: #476002;
$success-dark: #5A8C03;
$success-primary: #8DBF03;
$success-lightest: #E2EFC0;
$info-dark: #1F697D;
$info-primary: #3ED1F9;
$info-lightest: #CFE6FA;
$warning-dark: #805E08;
$warning-primary: #FFA500;
$warning-lightest: #FFE0B2;